.banner{
	min-height: 400px;
	min-width: 1200px;
	background: url(../cover_baner_web.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-top: 15px;
}
